<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="display-3"><%= @guide.guide_name %></h1>
				<p class="lead">Unique content about the guide can go here</p>
				<p class="m-b-0"><%= @guide.city %> <%= @guide.state %></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-lg-6">
			<div class="card card-block">
				<h4>Contact Information</h4>
				<p class="lead m-b-0"><%= @guide.address %></p>
				<p><%= @guide.phone_number %></p>
			</div>
		</div>
	</div>
</div>
