<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-block">
				<h2 class="card-title"><%= @guide.guide_name %></h2>
				<p class="lead m-b-0"><%= @guide.address %></p>
				<p class="m-b-0"><%= @guide.city %>, <%= @guide.state %></p>
				<p><%= @guide.phone_number %></p>
				<%= link_to "Edit", edit_guide_path(@guide) %>
			</div>
		</div>
	</div>
</div>
